body {
    // background: #005AA7;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to /right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #b3b3b3, #237ac6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // -webkit-text-stroke: #414141 1px ;
    background-color: #ffffff;
    opacity: 0.8;
    background-image: radial-gradient(#41414190 0.5px, #ffffff 0.5px);
    background-size: 10px 10px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top-div {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

div.top-div > img {
    display: flex;
    flex-direction:row;
    justify-content: right;
    max-width: 50px;
    max-height: 50px;
}

.git-info-link {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

img {
    max-height: 40px;
}

ul#all-languages {
    background-color: rgba(186, 186, 186, 0.639);
    padding: 7px;
    border-radius: 10%;
    border: 2px rgb(104, 104, 104) solid;
}

ul#all-languages:hover {
    cursor: pointer;
}

h1 {
    padding-left: 55px;
    text-shadow: 1px 1px 1px #ccc;
    color: light-cyan #e0fbfcff;
    margin: 0px;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // border: solid rgb(196, 187, 187) 1px;
}

li {
    margin-top: 5px;
    opacity: 1;
    transition: opacity 1s;
}

li.fade {
    opacity: 1;
}

div.job-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center 
}

div.job-info > ul {
    list-style: none;
    // width: 170px;
    // height: 30px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

p {
    margin: 0px;
    padding: 10px;
}

p:hover {
    transition: background-color 1s;
    background-color: rgba(128, 128, 128, 0.409);
    cursor: pointer;
}

.x-label {
    translate: 18px;
}

.bar-chart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

rect {
    fill: #253237ff;
}

svg {
    background-color: #c2dfe3ff;
    border-style: groove;
}