// make css variable using dollar sign 

// color palette

// $light-cyan: #e0fbfcff;
// $light-blue: #c2dfe3ff;
// $cadet-gray: #9db4c0ff;
// $paynes-gray: #5c6b73ff;
// $gunmetal: #253237ff;


$color: purple;

h1 {
    color: light-cyan #e0fbfcff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: #9db4c0ff;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center
}

div.job-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center 
}

div.job-info > ul {
    list-style: none;
    width: 170px;
    height: 50px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

p {
    color: light-blue #c2dfe3ff;
    margin: 10px;
}

p:hover {
    cursor: pointer;
    background-color: cadet-gray #9db4c0ff;
}

.bar-chart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

rect {
    fill: #253237ff;
}

svg {
    background-color: #c2dfe3ff;
}